@media (max-width: 767px){
	body.lock {
		overflow: hidden;
	}
	.navbar {
		& .menu-list {
			display: block;
			position: fixed;
			top: 0;
			left: -100%;
			height: 100vh;
			width: 100%;
			max-width: 400px;
			background: #222;
			padding: 40px 0;
			text-align: center;
			overflow: auto;
			transition: left 0.3s ease 0s;
				li {
					margin-top: 45px;
					a {
						font-size: 24px;
					}
				}
				&._active {
					left: 0;
				}
		}
		.icon {
			display: block;
			&.hide {
				display: none;
			}
		}
	}
}

